#top {
  background-color: black;
}
#top a 
{
  color:white;
  text-decoration: none;
  margin: auto;
}
#sitesearch {
  height: 25px;
  margin: 3px;
}

nav div{
  text-decoration: none;
  margin-bottom: 10px;

}

.stacklogo {
    width: 200px;
    position: absolute;

}

.exchangelogo{
	width: 120px;
	position: absolute;
	margin-top: 5px;
}   